@{
    ViewBag.Title = "语言映射";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item">
    </div>
</div>

@Html.AppendJsFile("/Areas/LR_LGManager/Views/LGMap/Form.js")
