
@{
    ViewBag.Title = "桌面设置";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/echarts/echarts.js"></script>
@Html.AppendCssFile("/Areas/LR_Desktop/Views/DTSetting/PC/PcIndex.css")


<div class="lr-desktop-panel">
    <div class="col-xs-12">
        <div class="portal-panel-title" style="position:relative;">
            <i class="fa fa-balance-scale"></i>&nbsp;&nbsp;统计指标
            <div id="lr-add-target" style="cursor:pointer;position:absolute;right:0;top:0;height:100%;width:80px;line-height: 65px;font-size:14px;color:#0188D2;text-align:center;"><i class="fa fa-plus"></i>&nbsp;&nbsp;添加</div>
        </div>
        <div class="portal-panel-content" id="lr_target">
        </div>
    </div>
    <div class="col-xs-12 lr-black-addbtn" id="lr-add-list">
        <i class="fa fa-plus"></i>添加消息列表
    </div>

    <div class="col-xs-12 lr-black-addbtn" id="lr-add-chart">
        <i class="fa fa-plus"></i>添加图表
    </div>

</div>




@Html.AppendJsFile("/Areas/LR_Desktop/Views/DTSetting/PC/PcIndex.js")
